:host {
    .dialog {
        &__content {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__actions {
            padding: 8px 20px 20px;
        }
    }
}