// src/styles/_grid.scss
// Lightweight 12-column grid system for Angular

$grid-columns: 12;
$gutter: 1.5rem;

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-#{$gutter} / 2);
    margin-right: calc(-#{$gutter} / 2);
}

[class*="col-"] {
    margin-top: calc($gutter / 2);
    padding-left: calc($gutter / 2);
    padding-right: calc($gutter / 2);
    box-sizing: border-box;
}

// Generate column classes: .col-1 ... .col-12
@for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
        flex: 0 0 calc(($i / $grid-columns) * 100%);
        max-width: calc(($i / $grid-columns) * 100%);
    }
}

// Auto-fill column (like .col in Bootstrap)
.col {
    flex: 1 1 0;
    max-width: 100%;
}

// Responsive breakpoints
@media (max-width: 992px) {
    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            flex: 0 0 calc(($i / $grid-columns) * 100%);
            max-width: calc(($i / $grid-columns) * 100%);
        }
    }
}

@media (max-width: 576px) {
    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            flex: 0 0 calc(($i / $grid-columns) * 100%);
            max-width: calc(($i / $grid-columns) * 100%);
        }
    }
}