.login {
    &__wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f5f7fa;
    }

    &__card {
        background: white;
        padding: 2.5rem 3rem;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        width: 380px;
    }

    &__form-field {
        width: 100%;
    }

    &__error-message {
        color: #f44336;
        margin-top: 1rem;
        text-align: center;
    }


    &__options {
        display: flex;
        justify-content: flex-start;
        margin-top: 0.1rem;

        a {
            text-decoration: none;
            color: #3f51b5;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__button-container {
        margin-top: 1.5rem;
    }
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}