:host {
    .page {
        &__card {
            margin-top: 16px;
        }

        &__card-header {
            padding: 20px;
        }

        &__card-header-title {
            display: inline-flex;
            gap: 10px;
        }

        &__card-chart {
            padding: 20px;
        }
    }
}