<div class="dashboard-container">
  <h2 class="page-title">My Metrics</h2>

  <div class="metric-grid row">
    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let metric of metrics">
      <mat-card class="metric-card " [routerLink]="['/metrics', metric._id]">
        <mat-card-header>
          <div mat-card-avatar class="metric-avatar">
            <mat-icon>track_changes</mat-icon>
          </div>
          <mat-card-title>{{ metric.name }}</mat-card-title>
          <mat-card-subtitle>{{ metric.category || 'General' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p class="goal">🎯 Target: {{ metric.target }} {{ metric.unit }}</p>
          <p class="progress">📈 Current: {{ metric.value || 0 }}</p>

          <mat-progress-bar [value]="(metric.value / metric.target) * 100" color="primary"></mat-progress-bar>

          <p class="streak">🔥 Streak: {{ metric.currentStreak || 0 }} days</p>
        </mat-card-content>

        <mat-card-actions>
          <button matButton="filled" color="primary" [routerLink]="['/metrics', metric._id]">
            View Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- Floating Add Button -->
  <button mat-fab color="primary" class="add-btn">
    <mat-icon>add</mat-icon>
  </button>
</div>